<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <style>
        {
                {
                CSS
            }
        }
    </style>
</head>

<body>
    <div class="slide">
        <img class="bg" src="{{BG}}" />
        <div class="overlay"></div>
        <img class="logo" src="{{LOGO}}" />
        <div class="content">
            <h1 class="title">{{TITLE_TEXT}}</h1>
            <p class="line withDash">{{SUBTITLE_TEXT}}</p>
            <p class="line">{{YEAR_TEXT}}</p>
            <p class="line dashOnly"></p>
            <p class="tagline">{{TAGLINE_TEXT}}</p>
        </div>
        <p class="footer">{{FOOTER_TEXT}}</p>
    </div>
</body>

</html>